@import "varuables";

body{
	font-family: $main-font_family;
	img{
		height: 200px;
	}
   
	.allMenu{
		margin-top: 50px;
		p{
			font-weight: bolder;
			font-size: 18px;
			color: black;
		}
		

		.aboutTable{
			
			margin-top: 50px;
		}
	}
	.contactPage{
		.row{
			margin:20px;
			
		}
		.googleMap{
			margin-top: 20px;
		}
	}
	button{
		width: 100px;
	}
	.projects{
		
		.col-md{
			margin:40px;

		}
		.row{
			
			margin-bottom: 90px;

		}

	}
}